<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <!-- Include eel.js - note this file doesn't exist in the 'web' directory -->
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script type="text/javascript" src="/eel.js"></script>
        <script type="text/javascript">
            {% block head_scripts %}{% endblock %}
        </script>
    </head>
    <body>
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo right">CRNS</a>
                <ul id="nav-mobile" class="left">
                    <li><a href="/templates/index.html">Main</a></li>
                    <li><a href="/templates/reaction_networks/index.html">Reaction Network</a></li>
                    <li><a href="/templates/hasse/index.html">Hasse Diagramm</a></li>
                </ul>
            </div>
        </nav>
        
        {% block content %}{% endblock %}
        <div style="position: absolute; bottom:5px; left:5px" id='file-name'>No File Open</div>
    </body>
</html>